* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica',"Arial", sans-serif;
}

h1 {
    text-align: center;
    font-size: 36px;
    background-color: mediumpurple;
    color: orange;
    width: 600px;
    margin: 0 auto;
    padding: 10px;
    border: 1px rebeccapurple;
}

li{
    text-align: center;
    list-style: none;
    padding: 10px;
    width: 400px;
    margin: 0 auto ;
    background-color: coral;
}

a {
    background-color: coral;
    color: darkgreen;
}